input::placeholder{
    color: white !important;
}

.mb-3{
    margin-top: 3% !important;
    
}

#div-form{
    
    margin-top: -1.15%;
    background-color: rgb(247, 245, 245);
}

#form-form{
    
    width: 50%;
    margin-left: 25%;
    padding-top: 1.5%;
    font-weight:500;
}

#btn-pdf{
    text-align: center;
    font-weight: 500;
    font-size: 95%;
    width: 50%;
    height: 50px;
    margin-left: 23%;
    margin-bottom: 10%;

}