 .u-section-1 {
  background-image: url("../img/teste3.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 945px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 63px 344px 0 15px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 8px 618px 0 18px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 25px 839px 0 18px;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  margin: 221px 758px 0 18px;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 78px;
  padding: 16px 24px 16px 23px;
}

.u-section-1 .u-text-5 {
  font-size: 0.75rem;
  margin: 218px 0 0 885px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 159px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 435px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 9px;
    margin-right: 656px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 237px;
    margin-right: 575px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 50px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 685px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 968px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 215px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 402px;
    margin-right: 436px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 34px;
    margin-right: 189px;
    margin-left: 216px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 77px;
    margin-left: 465px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 35px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 321px;
    margin-right: 169px;
    margin-left: 88px;
  }

  .u-section-1 .u-text-4 {
    width: 315px;
    margin-top: 63px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 255px;
    margin-top: 101px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 56px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 14px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 36px;
    margin-bottom: 60px;
    margin-left: 50px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 786px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 666px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 64px auto 0 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: left;
  font-weight: 700;
  margin: 65px 60px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  text-align: justify;
  margin: 20px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 682px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 260px;
  height: 298px;
  margin: 0 0 0 250px;
}

.u-section-2 .u-image-2 {
  width: 273px;
  height: 301px;
  margin: 23px 237px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 684px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 91px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 684px;
  }

  .u-section-2 .u-image-1 {
    height: 234px;
    margin-left: 150px;
  }

  .u-section-2 .u-image-2 {
    width: 288px;
    margin-top: 53px;
    margin-right: 122px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 769px;
  }

  .u-section-2 .u-image-1 {
    width: 270px;
    height: 341px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 514px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 415px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: 45px 10px -287px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 684px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-2 .u-image-1 {
    width: 363px;
    height: 335px;
    margin-top: -357px;
    margin-left: 72px;
  }

  .u-section-2 .u-image-2 {
    width: 354px;
    height: 250px;
    margin-top: 343px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -15px;
    margin-right: -3px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 394px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-2 .u-text-3 {
    margin: 22px 8px -269px 12px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 686px;
  }

  .u-section-2 .u-image-1 {
    width: 297px;
    height: 313px;
    margin-top: -481px;
    margin-left: auto;
  }

  .u-section-2 .u-image-2 {
    width: 280px;
    height: 206px;
    margin-top: 458px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 770px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 55px 254px 0 226px;
}

.u-section-3 .u-image-1 {
  width: 443px;
  height: 410px;
  margin: 46px auto 0 31px;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -391px 0 60px 570px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 60px;
    margin-right: 154px;
    margin-left: 126px;
  }

  .u-section-3 .u-image-1 {
    width: 311px;
    height: 366px;
    margin-top: 71px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -372px;
    margin-left: 360px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 44px;
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    width: 312px;
    height: 312px;
    margin-top: 10px;
    margin-left: 190px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 36px;
    margin-left: 70px;
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 55px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: 37px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin: 55px 0 12px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1334px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -127px;
  }

  .u-section-3 .u-image-1 {
    width: 256px;
    height: 216px;
    margin-top: 23px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 31px;
    margin-bottom: 60px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 714px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 624px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-image-1 {
  height: 425px;
  width: 425px;
  margin: 30px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 703px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-image-2 {
  height: 291px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-2 {
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 651px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 20px 26px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 8px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 40px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 651px;
  }

  .u-section-4 .u-image-2 {
    height: 233px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 111px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-4 .u-image-1 {
    height: 343px;
    width: 343px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-image-2 {
    height: 169px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 78px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 60px;
    margin-bottom: -56px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 638px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-4 .u-image-2 {
    height: 277px;
    width: 476px;
    margin-top: 317px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: -526px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 241px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 68px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -657px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 256px;
    width: 309px;
    margin-top: 27px;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 300px;
  }

  .u-section-4 .u-image-2 {
    height: 243px;
    margin-top: -41px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: -498px;
    margin-left: 0;
    margin-right: 0;
  }
}